fsspec
scipy
seaborn
multiprocess
transformers
datasets
sacrebleu 
rouge_score 
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
opencv-python
scikit-learn
numpy
imutils
pillow
fastapi==0.78.0
uvicorn==0.18.3
Jinja2
boto3
mypy-boto3-s3
python-box
torchaudio
torchvision
